{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab 8 Christopher Samuel</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'custom.js' %}"></script>
</head>
<body>
    <div class="container container-responsive">
        <div class="d-flex justify-content-center">
            <h1>Silakan masukkan keyword dari Buku yang ingin Anda cari</h1>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <div id="inputForm">
                <input type="text">
                <button id="searchButton">
                    Search
                </button>
            </div>
        </div>
        <br><br>
        <div class="d-flex justify-content-center">
            <div id="output"></div>
        </div>
    </div>
</body>
</html>